# Git / CI
.git
.github

# Python
__pycache__/
*.pyc
.pytest_cache/
.venv/
venv/

# Local data / artifacts
data/
models_registry/
*.parquet
*.zip

# Terraform
infra/terraform/.terraform/
infra/terraform/*.tfstate*
infra/terraform/*.tfplan

# Misc
.DS_Store
.env