name: CI

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11"]
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install deps
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt -r requirements-dev.txt

      - name: Run tests
        run: |
          pytest

  terraform:
    runs-on: ubuntu-latest
	env:
      TF_VAR_vpc_id: ${{ secrets.TF_VAR_vpc_id }}
      TF_VAR_public_subnets: ${{ secrets.TF_VAR_public_subnets }}
      TF_VAR_private_subnets: ${{ secrets.TF_VAR_private_subnets }}
      TF_VAR_ecs_security_group: ${{ secrets.TF_VAR_ecs_security_group }}
      TF_VAR_alb_security_group: ${{ secrets.TF_VAR_alb_security_group }}
      TF_VAR_api_image: ${{ secrets.TF_VAR_api_image }}
      TF_VAR_broker_image: ${{ secrets.TF_VAR_broker_image }}
      TF_VAR_dashboard_image: ${{ secrets.TF_VAR_dashboard_image }}
      TF_VAR_db_url_secret_arn: ${{ secrets.TF_VAR_db_url_secret_arn }}
      TF_VAR_create_secrets: ${{ secrets.TF_VAR_create_secrets }}
      TF_VAR_db_username: ${{ secrets.TF_VAR_db_username }}
      TF_VAR_db_password: ${{ secrets.TF_VAR_db_password }}

    defaults:
      run:
        working-directory: infra/terraform
    steps:
      - uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform fmt
  	run: terraform -chdir=infra/terraform fmt -recursive

      - name: Fail if terraform fmt changed files
  	run: git diff --exit-code

      - name: Terraform init
        run: terraform init -backend=false

      - name: Terraform validate
        run: terraform validate

      - name: Terraform plan
        env:
          TF_VAR_vpc_id: ${{ secrets.TF_VAR_vpc_id }}
          TF_VAR_public_subnets: ${{ secrets.TF_VAR_public_subnets }}
          TF_VAR_private_subnets: ${{ secrets.TF_VAR_private_subnets }}
          TF_VAR_ecs_security_group: ${{ secrets.TF_VAR_ecs_security_group }}
          TF_VAR_alb_security_group: ${{ secrets.TF_VAR_alb_security_group }}
          TF_VAR_api_image: ${{ secrets.TF_VAR_api_image }}
          TF_VAR_broker_image: ${{ secrets.TF_VAR_broker_image }}
          TF_VAR_dashboard_image: ${{ secrets.TF_VAR_dashboard_image }}
          TF_VAR_db_url_secret_arn: ${{ secrets.TF_VAR_db_url_secret_arn }}
          TF_VAR_create_secrets: ${{ secrets.TF_VAR_create_secrets }}
          TF_VAR_db_username: ${{ secrets.TF_VAR_db_username }}
          TF_VAR_db_password: ${{ secrets.TF_VAR_db_password }}
        run: terraform plan -no-color -lock=false -input=false

	

